{% extends 'base.html.twig' %}

{% block title %} La Boutique Française modifier mon mdp {% endblock %}

{% block content %}

    <h1>Modifier mon mot de passe</h1>
    Bienvenue {{ app.user.firstnName }} dans votre compte.
    <hr>
    <a href="{{ path('app_account') }}"
       class="btn btn-info mb-4"
    >
        retourner à mon compte
    </a>

    <hr>
        {% if notification %}
            <div class="alert alert-info">{{ notification }}</div>
        {% endif %}
        {{ form(form) }}
    <hr>
{% endblock %}